/* contact */
section {
    padding-left: 20px;
    padding-right: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.contact-info .item {
    display: flex;
    width: calc(33% - 20px);
    height: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

@media only screen and (max-width: 772px) {
    .contact-info .item {
        width: 100%;
        margin: 10px 0;
    }

}

@media only screen and (max-width: 600px) {
    .contact-info .item {
        width: 100%;
        margin: 10px 0;
    }
}